html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #030509; /* любой цвет */
}
html{
 scroll-behavior: smooth;
}
:target {
  scroll-margin-top: 100px; /* высота вашего хедера */
}