.hero_bg {
  background-color: #030509;
  height: 100vh;
    font-family: 'BebasNeue';
}
a {
  text-decoration: none;
  color: #F3EDD9;
}
img {
  max-width: 100%;
}
.container_header {
  
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;

}
.inv{
  width: 120px;
  height: 40px;
}
.header{
  background-color: #27251e;
  position: fixed;
  z-index: 10;
  width: 100%;
}
.header_btn{
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent ;
  z-index: 2;
}
.header_btn span{
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #F3EDD9;
  left: 5px;
  transition: transform .5s, opaciti .5s, background-color .5s;
}
.header_btn span:nth-child(1) {
  transform: translateY(-10px);
}
.header_btn span:nth-child(3) {
  transform: translateY(10px);
}
.header.open .header_btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}
.header.open .header_btn span:nth-child(2) {
  opacity: 0;
}
.header.open .header_btn span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}
.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.logo {
  display: block;
}
.logo_img{
  width: 120px;
}
.menu_list{
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 60px;

}
.menu_item:not(:first-child) {
  margin-left: 20px;
}
.menu_link{
  font-size: 40px;
  letter-spacing: 0.05em;
}




/* CONTENT */
.hero__content {
  min-height: 25vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__content h1 {
  color: #F3EDD9;
  font-size: 300px;
  font-weight: 300;
  letter-spacing: 0.01em;
}
@media(max-width:1050px){
  .menu_link{
  font-size: 35px;
  }
  .logo_img{
    width: 100px;
  }
  .menu_list{
    gap:40px;
  }
  .inv{
    width: 80px;
  }
}
@media(max-width:950px){
  .menu_link{
  font-size: 30px;
}
  .logo_img{
    width: 80px;
  }
  .inv{
    width: 80px;
  }
}
@media(max-width:768px){
  .menu_link{
  font-size: 25px;
}
  .logo_img{
    width: 65px;
  }
  .inv{
    width: 65px;
  }
}
@media(max-width:700px){
  .header_btn{
    display: block;
  }
  .inv{
    display: none;
  }
  .menu{
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    background-color: #27251e;
    padding: 100px 0px 20px 0px;
    transition: transform .5s;
  }
  .menu_list{
    display: block;
    gap: 0;
  }
  .menu_link{
    font-size: 20px;
  }
  .hero__content h1{
    font-size: 200px;
  }
  .header.open .menu{
    transform: translateX(100%);
  }

}
@media(max-width:380px){
  .hero__nav{
    gap: 20px;
    font-size: 15px;
  }
  .hero__content h1{
    font-size: 200px;
  }
}