.bloc_master {
    
    width: flex;
    margin: 0 auto;
    
}
.master{
    
    position: relative;
    padding-top: 115px;
    justify-items: center;
}
.gleb_orich_photo{
    display: block;
    max-width: 100%;
    height: auto;    
}
.name{
    font-family: 'Milker';
    position:absolute;
    top: -80px;
    left: -145px;
    
    color:#F3EDD9;
    font-size: 120px;
}
.last_name{
    font-family: 'Milker';
    position:absolute;
    top: 570px;
    left: 250px;
    z-index: 1;
    color:#F3EDD9;
    font-size: 120px;
}
.text_zbs{
   font-family: 'BebasNeue';
    position:absolute;
    top: 40px;
    left: 200px;
    z-index: 1;
    color:#F3EDD9;
    font-size: 28px;
    letter-spacing: 0.09em;
}
.text_zbs2{
   font-family: 'BebasNeue';
    position:absolute;
    top: 70px;
    left: 200px;
    text-align: left;
    z-index: 1;
    color:#F3EDD9;
    font-size: 14px;
    letter-spacing: 0.15em;
}

@media(max-width:900px){
    .gleb_orich_photo{
    display: block;
    max-width: 80%;
    height: auto;
}
     .name{
        font-size: 90px;
        top: -35px;
        left: -45px;
     }
     .last_name{
        font-size: 85px;
        top: 520px;
     }
     .text_zbs{
        font-size: 23px;
        left: 215px;
        top: 55px;
     }
     .text_zbs2{
        font-size: 11.5px;
        left: 215px;
        top: 80px;

     }


}
@media(max-width:620px){
    .gleb_orich_photo{
    display: block;
    max-width: 65%;
    height: auto;
}
     .name{
        font-size: 75px;
        top: -10px;
        left: 0px;
     }
     .last_name{
        font-size: 75px;
        left: 210px;
        top: 430px;
     }
     .text_zbs{
        font-size: 20px;
        top: 65px;
     }
     .text_zbs2{
        font-size: 10px;
        top: 85px;

     }


}
@media(max-width:500px){
    .gleb_orich_photo{
    display: block;
    max-width: 70%;
    height: auto;
}
     .name{
        font-size: 70px;
        top: 5px;
        left: 35px;
     }
     .last_name{
        font-size: 65px;
        top: 460px;
        left: 205px;
     }
     .text_zbs{
        font-size: 16px;
        top: 75px;
        left: 240px;
     }
     .text_zbs2{
        font-size: 8px;
        top: 90px;
        left: 240px;

     }


}
@media(max-width:450px){
    .gleb_orich_photo{
    display: block;
    max-width: 70%;
    height: auto;
}
     .name{
        font-size: 65px;
        top: 10px;
        left: 30px;
     }
     .last_name{
        font-size: 65px;
        top: 440px;
        left: 190px;
     }
     .text_zbs{
        font-size: 16px;
        top: 75px;
        left: 220px;
     }
     .text_zbs2{
        font-size: 8px;
        top: 90px;
        left: 220px;

     }


}
@media(max-width:425px){
    .gleb_orich_photo{
    display: block;
    max-width: 70%;
    height: auto;
}
     .name{
        font-size: 55px;
        top: 20px;
        left: 20px;
     }
     .last_name{
        font-size: 55px;
        top: 400px;
        left: 180px;
     }
     .text_zbs{
        font-size: 15px;
        top: 75px;
        left: 180px;
     }
     .text_zbs2{
        font-size: 7.5px;
        top: 90px;
        left: 180px;

     }


}
@media(max-width:375px){
    .gleb_orich_photo{
    display: block;
    max-width: 70%;
    height: auto;
}
     .name{
        font-size: 55px;
        top: 25px;
        left: 10px;
     }
     .last_name{
        font-size: 55px;
        top: 370px;
        left: 160px;
     }
     .text_zbs{
        font-size: 14px;
        top: 80px;
        left: 170px;
     }
     .text_zbs2{
        font-size: 7px;
        top: 95px;
        left: 170px;

     }


}
@media(max-width:355px){
    .gleb_orich_photo{
    display: block;
    max-width: 70%;
    height: auto;
}
     .name{
        font-size: 55px;
        top: 27px;
        left: 10px;
     }
     .last_name{
        font-size: 55px;
        top: 350px;
        left: 140px;
     }
     .text_zbs{
        font-size: 13px;
        top: 82px;
        left: 170px;
     }
     .text_zbs2{
        font-size: 6.5px;
        top: 95px;
        left: 170px;

     }


}
@media(max-width:330px){
    .gleb_orich_photo{
    display: block;
    max-width: 70%;
    height: auto;
}
     .name{
        font-size: 55px;
        top: 30px;
        left: 12px;
     }
     .last_name{
        font-size: 55px;
        top: 330px;
        left: 110px;
     }
     .text_zbs{
        font-size: 10px;
        top: 90px;
        left: 170px;
     }
     .text_zbs2{
        font-size: 5px;
        top: 100px;
        left: 170px;

     }


}