.product{
    margin: 0 auto;
    padding-top: 115px;
}
.card_tovar{
    width: 270px;
    height: 370px;
    
}
.card_tov{
    position: relative;
    width: 100%;
    height: 100%;
}

.tovar{
    display: block;
    max-width: 100%;
    height: auto;
}

.name_product{
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;
  text-align: center;

  font-family: 'Milker';
  font-size: clamp(20px, 2.5vw, 24px);
}

.container{
    width: 100%;
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
}

.container_cards{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
    column-gap: 30px;
    row-gap: 0px;
}

@media (max-width: 1250px){
    .container_cards{
        grid-template-columns: repeat(3, 1fr);
        
    }
}

@media (max-width: 950px){
    .container_cards{
        grid-template-columns: repeat(2, 1fr);
        
    }
}
@media (max-width: 600px){
    .container_cards{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0;
    }
    .product{
        padding-top: 90px;
    }
    .name_product{
    position: absolute;
    bottom: 20px;
}
    .card_tovar{
    width: 190px;
    height: 250px;
    
}
}
@media (max-width: 375px){
    .container_cards{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0;
    }
    .product{
        padding-top: 50px;
    }
    .name_product{
    position: absolute;
    bottom: 10px;
    font-size: 18px;
}
    .card_tovar{
    width: 170px;
    height: 220px;
    
}
}
@media (max-width: 320px){
    .container_cards{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0;
    }
    .product{
        padding-top: 20px;
    }
    .name_product{
    position: absolute;
    bottom: 15px;
    font-size: 14px;
}
    .card_tovar{
    width: 150px;
    height: 200px;
    
}
}