@font-face {
  font-family: 'Akronim';
  src: url('./Akronim.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BebasNeue';
  src: url('./BebasNeueCyrillic.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Milker';
  src: url('./Milker.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}